<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="30 seconds">
    <property name="PATH_LOG_WINDOW_TEST" value="D:/WorkSpace/template/test_local/log/" />
    <property name="FILENAME_CURRENT" value="current.log" />
    <property name="FILENAME_CURRENT_ABOVE_WARN" value="current_above_warn.log" />
    <property name="FILENAME_ROLLING" value="%d{yyyy-MM-dd}.%i.log" />
    <property name="FILENAME_ROLLING_ABOVE_WARN" value="%d{yyyy-MM-dd}_above_warn.%i.log" />
    <property name="MAX_FILE_SIZE" value="10MB" />
    <property name="MAX_HISTORY" value="999" />

    <!-- %black", "%red", "%green", "%yellow", "%blue", "%magenta", "%cyan", "%white", "%gray", -->
    <!-- "%boldRed", "%boldGreen", "%boldYellow", "%boldBlue", "%boldMagenta", "%boldCyan", "%boldWhite", -->
    <!-- "%highlight" -->
    <property name="PATTERN_CONSOLE" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%highlight(%5level)] [%thread] %green(%logger.%method:%line) - %msg%n" />
    <property name="PATTERN_FILE" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%5level] [%thread] [%logger.%method:%line] - %msg%n" />

    <appender name="CONSOLE_WINDOW" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${PATTERN_CONSOLE}</pattern>
        </encoder>
    </appender>
    <appender name="FILE_WINDOW_TEST" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF8</charset>
            <pattern>${PATTERN_FILE}</pattern>
        </encoder>
        <file>${PATH_LOG_WINDOW_TEST}${FILENAME_CURRENT}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${PATH_LOG_WINDOW_TEST}${FILENAME_ROLLING}</fileNamePattern>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${MAX_HISTORY}</maxHistory>
        </rollingPolicy>
    </appender>

    <springProfile name="test_local">
        <logger name="com.example.template" level="DEBUG" />
        <root level="INFO">
            <appender-ref ref="CONSOLE_WINDOW" />
            <appender-ref ref="FILE_WINDOW_TEST" />
        </root>
    </springProfile>
</configuration>
