<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="30 seconds">
    <property name="PATH_LOG_LINUX_SERVICE" value="/home/JENKINS/template/service/log/" />
    <property name="FILENAME_CURRENT" value="current.log" />
    <property name="FILENAME_CURRENT_ABOVE_WARN" value="current_above_warn.log" />
    <property name="FILENAME_ROLLING" value="%d{yyyy-MM-dd}.%i.log" />
    <property name="FILENAME_ROLLING_ABOVE_WARN" value="%d{yyyy-MM-dd}_above_warn.%i.log" />
    <property name="MAX_FILE_SIZE" value="10MB" />
    <property name="MAX_HISTORY" value="999" />

    <!-- %black", "%red", "%green", "%yellow", "%blue", "%magenta", "%cyan", "%white", "%gray", -->
    <!-- "%boldRed", "%boldGreen", "%boldYellow", "%boldBlue", "%boldMagenta", "%boldCyan", "%boldWhite", -->
    <!-- "%highlight" -->
    <property name="PATTERN_FILE" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%5level] [%thread] [%logger.%method:%line] - %msg%n" />

    <appender name="FILE_LINUX_SERVICE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF8</charset>
            <pattern>${PATTERN_FILE}</pattern>
        </encoder>
        <file>${PATH_LOG_LINUX_SERVICE}${FILENAME_CURRENT}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${PATH_LOG_LINUX_SERVICE}${FILENAME_ROLLING}</fileNamePattern>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${MAX_HISTORY}</maxHistory>
        </rollingPolicy>
    </appender>
    <appender name="FILE_LINUX_SERVICE_WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF8</charset>
            <pattern>${PATTERN_FILE}</pattern>
        </encoder>
        <file>${PATH_LOG_LINUX_SERVICE}${FILENAME_CURRENT_ABOVE_WARN}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${PATH_LOG_LINUX_SERVICE}${FILENAME_ROLLING_ABOVE_WARN}</fileNamePattern>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${MAX_HISTORY}</maxHistory>
        </rollingPolicy>
    </appender>

    <springProfile name="service">
        <logger name="com.example.template" level="DEBUG" />
        <root level="INFO">
            <appender-ref ref="FILE_LINUX_SERVICE" />
            <appender-ref ref="FILE_LINUX_SERVICE_WARN" />
        </root>
    </springProfile>
</configuration>
